

services:

  admin_panel:
    build: ./Frontend/admin_panel
    container_name: admin_panel
    ports:
      - "5173:5173"
    volumes:
      - ./Frontend/admin_panel:/app
      - /app/node_modules
    env_file:
      - ./Frontend/admin_panel/.env
    depends_on:
      - backend

  student_panel:
    build: ./Frontend/student_panel
    container_name: student_panel
    ports:
      - "5174:5173"
    volumes:
      - ./Frontend/student_panel:/app
      - /app/node_modules
    env_file:
      - ./Frontend/student_panel/.env
    depends_on:
      - backend

  teacher_panel:
    build: ./Frontend/teacher_panel
    container_name: teacher_panel
    ports:
      - "5175:5173"
    volumes:
      - ./Frontend/teacher_panel:/app
      - /app/node_modules
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "7777:7777"
    env_file:
      - ./backend/.env
    depends_on:
      - nosql-db

  nosql-db:
    image: mongo:4.4
    container_name: nosql-db
    restart: always
    ports:
      - "27017:27018"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
